# Ignore editor and misc backup files - anywhere
*~
.*~
*.bak
\#*\#
.directory

# Ignore platforms directories
platforms

# Ignore all object files
*.o

# Ignore library files
*.so

# Ignore generated doc files
*.aux
*.pdf

# Ignore all run logs
*.log
*.out
log

# Ignore corefiles
core
vgcore*

updateDocs


build/

# end-of-file

*.pyc
